<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="GitHub" value="https://nuget.pkg.github.com/ctsmohanreddy072/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="ctsmohanreddy072" />
      <add key="ClearTextPassword" value="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" />
    </GitHub>
  </packageSourceCredentials>
</configuration>
